@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
     font-family: "Nunito", sans-serif;
      font-family: "Open Sans", sans-serif;
    margin: 0;
}

body{
  background: #7A7A7A;;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #D5D5D7, #D5D5D7, #909093);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e4e4e4, #D5D5D7, #D5D5D7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 


 
}


.bg-image{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
   background-image: url("assets/img5.jpg");
  background-repeat:repeat-y;
  background-size:cover;
  /* Center and scale the image nicely */
  background-position: center;

}
a {
  color: #917307;
  text-decoration: none;
}



a:hover {
  color: #717ff5;
  text-decoration: none;
}

.App {
  
   
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.register{

  max-width: 480px;
  width: 100vw;
  display:flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 10px;
 
    /* border: 1px solid #e9ecef;
   box-shadow: 1px 3px 10px #c6c7c73f; 
  background-color: white; 
    */
}

.register span{
  
  color: #483a01;
}

#form{


 
  box-shadow: 0px 0 30px rgba(159, 164, 172, 0.538);
  padding: 1.5rem;
  max-width: 400px;
  width: 100vw;
  margin: 0.7em auto;
  background-color: white;
}

#form >  input, .btn{
  border: 1px solid #e9e7e7;
  padding: .7em 1em;
  
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

#form >  label{
  text-align: left;
  margin-left: 1em;
  font-size: 13px;
  padding:0;
  color: #a58100;

}

#form >  select{
  border: 1px solid #e9e7e7;
  padding: .7em 1em;
  
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

#form > input:focus{
  outline: none;
}

#form > .btn{
  background-color: #292929;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

.flex{
  display: flex;
  gap: 0.8em;
}

.flex-col{
  flex-direction: column;
}

.register .col-1{
  
  margin: auto;
  width: 500;
  padding: 2em 3em;
  
}

.register .col-2 img{
   
  width: 480px;
  height: 100%;
  /* object-fit: cover; */
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

@media screen and (min-width: 860px)  {
  .register .col-2 img{
    display: initial;
   
  }

}
